<div style="border:solid green 2px; padding: 20px"> <h1 style="color:green; margin-bottom:20px">Reviewer's comment v1</h1>

Hello Alphonso!

I'm happy to review your project today  üôå

You can find my comments under the heading **¬´Review¬ª**. I will categorize my comments in green, blue or red boxes like this:

<div class="alert alert-success">
    <b>Success:</b> if everything is done successfully
</div>
<div class="alert alert-warning">
    <b>Remarks:</b> if I can give some recommendations or ways to improve the project
</div>
<div class="alert alert-danger">
    <b>Needs fixing:</b> if the block requires some corrections. Work can't be accepted with the red comments
</div>

Please don't remove my comments. If you have any questions, don't hesitate to respond to my comments in a different section.
<div class="alert alert-info"> <b>Student comments: </div>

<div style="border:solid green 2px; padding: 20px">
<b>Reviewer's comment v1</b>
    
<b>Overall Feedback</b> 
    
    
Hello Alphonso,

First of all, congratulations on submitting your very first project! üéâ

Taking this step is a big part of your journey into the world of Data, and it‚Äôs clear you‚Äôre putting in the effort to succeed.

Our team is here to support your growth, and to help you get the most out of this experience, I‚Äôve returned your project with some suggestions for improvement.
    
You‚Äôll find specific feedback in the notebook in the ‚ÄòComments‚Äô (`Reviewer's comment v1`) sections.
    
**What Was Great:**

- Comprehensive Data Preparation: You demonstrated a meticulous approach to data loading, cleaning, and preparation. Ensuring the data was in optimal condition allowed for a robust analysis, which strengthened the validity of your conclusions.
- Effective Handling of Outliers: You correctly identified and excluded outliers (duplicates, missing values), which could have skewed the results, ensuring a more accurate and meaningful analysis.
    
**Areas to Improve:**

- Double-check that the latest DataFrame with the processed data is used at each step, and not the original df.
- Fix bugs in your code.
   
Don‚Äôt be discouraged - this is all part of the learning process! Take your time to review the feedback and make the necessary adjustments. Resubmit when you‚Äôre ready, and I‚Äôm confident you‚Äôll nail it on the next go. Remember, every challenge is an opportunity to grow. You‚Äôve got this! üèÑ
    
And of course, if you have any questions along the way, remember that you can always reach out to your tutor for clarification.
</div>

<div style="border:solid green 2px; padding: 20px">
<b>Reviewer's comment v2:</b>
    
<b>Overall Feedback</b> 

Thank you for making changes to your project! Could you please take a look at additional comments: title - `Reviewer's comment v2:`?
    
And of course, if you have any questions along the way, remember that you can always reach out to your tutor for any clarification.

I will wait for you to send me a new version of the project :)
</div>

<div style="border:solid green 2px; padding: 20px">
<b>Reviewer's comment v3:</b>
    
<b>Overall Feedback</b> 

Thank you for making changes to your project! Could you please take a look at additional comments: title - `Reviewer's comment v3:`?
    
And of course, if you have any questions along the way, remember that you can always reach out to your tutor for any clarification.

I will wait for you to send me a new version of the project :)
</div>

<div style="border:solid green 2px; padding: 20px">
<b>Reviewer's comment v4:</b>
    
<b>Overall Feedback</b> 

Thank you for making all improvements in your project! It looks perfect now and there are no critical issues. 
    
Please keep up great work and don't hesitate to use this project as a reference in your future sprints. 
   
Good luck on the next project üçÄ 
</div>

## Basic Python - Project <a id='intro'></a>

## Introduction <a id='intro'></a>
In this project, you will work with data from the entertainment industry. You will study a dataset with records on movies and shows. The research will focus on the "Golden Age" of television, which began in 1999 with the release of *The Sopranos* and is still ongoing.

The aim of this project is to investigate how the number of votes a title receives impacts its ratings. The assumption is that highly-rated shows (we will focus on TV shows, ignoring movies) released during the "Golden Age" of television also have the most votes.

### Stages 
Data on movies and shows is stored in the `/datasets/movies_and_shows.csv` file. There is no information about the quality of the data, so you will need to explore it before doing the analysis.

First, you'll evaluate the quality of the data and see whether its issues are significant. Then, during data preprocessing, you will try to account for the most critical problems.
 
Your project will consist of three stages:
 1. Data overview
 2. Data preprocessing
 3. Data analysis

<div class="alert alert-success">
<b>Reviewer's comment v1:</b>
    
It is always helpful for the reader to have additional information about project tasks. It gives an overview of what you are going to achieve in this project.

## Stage 1. Data overview <a id='data_review'></a>

Open and explore the data.

You'll need `pandas`, so import it.

In [1]:
# importing pandas
import pandas as pd

Read the `movies_and_shows.csv` file from the `datasets` folder and save it in the `df` variable:

In [2]:
# reading the files and storing them to df
df = pd.read_csv('/datasets/movies_and_shows.csv')

<div class="alert alert-success">
<b>Reviewer's comment v1:</b>
    
Well done! Required library has been imported.

Print the first 10 table rows:

In [3]:
# obtaining the first 10 rows from the df table
# hint: you can use head() and tail() in Jupyter Notebook without wrapping them into print()
df.head(10)

df.tail(10)

,name,Character,r0le,TITLE,Type,release Year,genres,imdb sc0re,imdb v0tes
85569,Jessica Cediel,Liliana Navarro,ACTOR,Lokillo,MOVIE,2021,['comedy'],3.8,68.0
85570,Javier Gardeaz?¬≠bal,"Agust??n ""Peluca"" Ort??z",ACTOR,Lokillo,MOVIE,2021,['comedy'],3.8,68.0
85571,Carla Giraldo,Valery Reinoso,ACTOR,Lokillo,MOVIE,2021,['comedy'],3.8,68.0
85572,Ana Mar??a S?¬≠nchez,Lourdes,ACTOR,Lokillo,MOVIE,2021,['comedy'],3.8,68.0
85573,A??da Morales,Maritza,ACTOR,Lokillo,the movie,2021,['comedy'],3.8,68.0
85574,Adelaida Buscato,Mar??a Paz,ACTOR,Lokillo,the movie,2021,['comedy'],3.8,68.0
85575,Luz Stella Luengas,Karen Bayona,ACTOR,Lokillo,the movie,2021,['comedy'],3.8,68.0
85576,In??s Prieto,Fanny,ACTOR,Lokillo,the movie,2021,['comedy'],3.8,68.0
85577,Isabel Gaona,Cacica,ACTOR,Lokillo,MOVIE,2021,['comedy'],3.8,68.0
85578,Julian Gaviria,unknown,DIRECTOR,Lokillo,the movie,2021,['comedy'],3.8,68.0

Obtain the general information about the table with one command:

In [4]:
# obtaining general information about the data in df
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85579 entries, 0 to 85578
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0      name       85579 non-null  object
 1   Character     85579 non-null  object
 2   r0le          85579 non-null  object
 3   TITLE         85578 non-null  object
 4     Type        85579 non-null  object
 5   release Year  85579 non-null  int64
 6   genres        85579 non-null  object
 7   imdb sc0re    80970 non-null  float64
 8   imdb v0tes    80853 non-null  float64
dtypes: float64(2), int64(1), object(6)
memory usage: 5.9+ MB

The table contains nine columns. The majority store the same data type: object. The only exceptions are `'release Year'` (int64 type), `'imdb sc0re'` (float64 type) and `'imdb v0tes'` (float64 type). Scores and votes will be used in our analysis, so it's important to verify that they are present in the dataframe in the appropriate numeric format. Three columns (`'TITLE'`, `'imdb sc0re'` and `'imdb v0tes'`) have missing values.

According to the documentation:
- `'name'` ‚Äî actor/director's name and last name
- `'Character'` ‚Äî character played (for actors)
- `'r0le '` ‚Äî the person's contribution to the title (it can be in the capacity of either actor or director)
- `'TITLE '` ‚Äî title of the movie (show)
- `'  Type'` ‚Äî show or movie
- `'release Year'` ‚Äî year when movie (show) was released
- `'genres'` ‚Äî list of genres under which the movie (show) falls
- `'imdb sc0re'` ‚Äî score on IMDb
- `'imdb v0tes'` ‚Äî votes on IMDb

We can see three issues with the column names:
1. Some names are uppercase, while others are lowercase.
2. There are names containing whitespace.
3. A few column names have digit '0' instead of letter 'o'.

### Conclusions <a id='data_review_conclusions'></a> 

Each row in the table stores data about a movie or show. The columns can be divided into two categories: the first is about the roles held by different people who worked on the movie or show (role, name of the actor or director, and character if the row is about an actor); the second category is information about the movie or show itself (title, release year, genre, imdb figures).

It's clear that there is sufficient data to do the analysis and evaluate our assumption. However, to move forward, we need to preprocess the data.

<div class="alert alert-success">
<b>Reviewer's comment v1:</b>
    
Great data overview and correct conclusions.

## Stage 2. Data preprocessing <a id='data_preprocessing'></a>
Correct the formatting in the column headers and deal with the missing values. Then, check whether there are duplicates in the data.

In [5]:
# the list of column names in the df table
df.columns

Index(['   name', 'Character', 'r0le', 'TITLE', '  Type', 'release Year',
       'genres', 'imdb sc0re', 'imdb v0tes'],
      dtype='object')

Change the column names according to the rules of good style:
* If the name has several words, use snake_case
* All characters must be lowercase
* Remove whitespace
* Replace zero with letter 'o'

In [6]:
# renaming columns
df = df.rename(columns={'   name':'name', 'Character':'character', 'r0le':'role', 'TITLE':'title', '  Type':'type', 'release Year':'release_year',
       'genres':'genres', 'imdb sc0re':'imdb_score', 'imdb v0tes':'imdb_votes'})

Check the result. Print the names of the columns once more:

In [7]:
# checking result: the list of column names
df.columns

Index(['name', 'character', 'role', 'title', 'type', 'release_year', 'genres',
       'imdb_score', 'imdb_votes'],
      dtype='object')

<div class="alert alert-success">
<b>Reviewer's comment v1:</b>
    
It is great that you correctly applied `rename` function.  As a second approach `replace` function could be used.

### Missing values <a id='missing_values'></a>
First, find the number of missing values in the table. To do so, combine two `pandas` methods:

In [8]:
# calculating missing values
df.isna().sum()

name               0
character          0
role               0
title              1
type               0
release_year       0
genres             0
imdb_score      4609
imdb_votes      4726
dtype: int64

<div class="alert alert-success">
<b>Reviewer's comment v1</b>
    
Great that you selected `isna()` method to find missing values! 

It is also sometimes helpful to check not only the total amount of missing values in each column but also look at the percentage of missing values. It helps to understand the overall impact. You can check percentage using, for example, this code:

`df.isnull().sum()/len(df)`

We identified missing values in several columns. While the missing value in `'title'` isn't critical, missing values in `'imdb_score'` and `'imdb_votes'` affect around 6% of the data, which could impact our analysis. To ensure data integrity, we'll drop all rows with missing values.

In [9]:
# dropping rows where columns with scores, and votes have missing values
df = df.dropna(axis='index')

Make sure the table doesn't contain any more missing values. Count the missing values again.

In [10]:
# counting missing values
df.isna().sum()

name            0
character       0
role            0
title           0
type            0
release_year    0
genres          0
imdb_score      0
imdb_votes      0
dtype: int64

<div class="alert alert-success">
<b>Reviewer's comment v1:</b>
    
Everything is correct here!

### Duplicates <a id='duplicates'></a>
Find the number of duplicate rows in the table using one command:

In [11]:
# counting duplicate rows
df_duplicates = df.duplicated()
df_duplicates.sum()

6994

Review the duplicate rows to determine if removing them would distort our dataset.

In [12]:
# Produce table with duplicates (with original rows included) and review last 5 rows
df_dup_tbl = df[df.duplicated()]
df_dup_tbl.tail(5)

,name,character,role,title,type,release_year,genres,imdb_score,imdb_votes
85569,Jessica Cediel,Liliana Navarro,ACTOR,Lokillo,MOVIE,2021,['comedy'],3.8,68.0
85570,Javier Gardeaz?¬≠bal,"Agust??n ""Peluca"" Ort??z",ACTOR,Lokillo,MOVIE,2021,['comedy'],3.8,68.0
85571,Carla Giraldo,Valery Reinoso,ACTOR,Lokillo,MOVIE,2021,['comedy'],3.8,68.0
85572,Ana Mar??a S?¬≠nchez,Lourdes,ACTOR,Lokillo,MOVIE,2021,['comedy'],3.8,68.0
85577,Isabel Gaona,Cacica,ACTOR,Lokillo,MOVIE,2021,['comedy'],3.8,68.0

There are two clear duplicates in the printed rows. We can safely remove them.
Call the `pandas` method for getting rid of duplicate rows:

In [13]:
# removing duplicate rows
df_dup_tbl.drop_duplicates().reset_index(drop=True)

,name,character,role,title,type,release_year,genres,imdb_score,imdb_votes
0,Philip Greene,Baseball Fan (uncredited),ACTOR,How Do You Know,MOVIE,2010,"['comedy', 'drama', 'romance']",5.4,50383.0
1,Dan Levy,Reporter,ACTOR,A Very Harold & Kumar Christmas,MOVIE,2011,"['comedy', 'fantasy', 'romance']",6.2,69562.0
2,Nicolas Le Nev??,unknown,DIRECTOR,Sammy & Co,SHOW,2014,"['animation', 'european']",5.7,31.0
3,John Iii Franklin,Himself,ACTOR,Last Chance U,SHOW,2016,"['documentation', 'sport']",8.4,6897.0
4,Claudio Roca,Nicol?¬≠s,ACTOR,Narcos: Mexico,SHOW,2018,"['drama', 'crime']",8.4,82042.0
...,...,...,...,...,...,...,...,...,...
6989,Jessica Cediel,Liliana Navarro,ACTOR,Lokillo,MOVIE,2021,['comedy'],3.8,68.0
6990,Javier Gardeaz?¬≠bal,"Agust??n ""Peluca"" Ort??z",ACTOR,Lokillo,MOVIE,2021,['comedy'],3.8,68.0
6991,Carla Giraldo,Valery Reinoso,ACTOR,Lokillo,MOVIE,2021,['comedy'],3.8,68.0
6992,Ana Mar??a S?¬≠nchez,Lourdes,ACTOR,Lokillo,MOVIE,2021,['comedy'],3.8,68.0
6993,Isabel Gaona,Cacica,ACTOR,Lokillo,MOVIE,2021,['comedy'],3.8,68.0

<div class="alert alert-warning">
<b>Reviewer's comment v1</b>
    
Note that it is also required additionally to re-create the indexes in your dataframe. To achieve that, you can use `reset_index()`.
    
Without that, the index column will not be ordinal anymore, as `drop_duplicates()` deleted some lines, hence the dataframe becomes less informative.
    
    
You can read about it here: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.reset_index.html
    
And parameter `drop=True` could be helpful to rewrite existent index instead of creating a second ordinal column.

Check for duplicate rows once more to make sure you have removed all of them:

In [14]:
# checking for duplicates
df_dup_tbl.duplicated().sum()

0

<div class="alert alert-success">
<b>Reviewer's comment v1</b>

Well done!

Now get rid of implicit duplicates in the `'type'` column. For example, the string `'SHOW'` can be written in different ways. These kinds of errors will also affect the result.

Print a list of unique `'type'` names, sorted in alphabetical order. To do so:
* Retrieve the intended dataframe column 
* Apply a sorting method to it
* For the sorted column, call the method that will return all unique column values

In [15]:
# viewing unique type names
df_dup_tbl.sort_values(by='type', ascending=True)
df_dup_tbl['type'].unique()

array(['MOVIE', 'SHOW'], dtype=object)

Look through the list to find implicit duplicates of `'show'` (`'movie'` duplicates will be ignored since the assumption is about shows). These could be names written incorrectly or alternative names of the same genre.

You will see the following implicit duplicates:
* `'shows'`
* `'SHOW'`
* `'tv show'`
* `'tv shows'`
* `'tv series'`
* `'tv'`

To get rid of them, declare the function `replace_wrong_show()` with two parameters: 
* `wrong_shows_list=` ‚Äî the list of duplicates
* `correct_show=` ‚Äî the string with the correct value

The function should correct the names in the `'type'` column from the `df` table (i.e., replace each value from the `wrong_shows_list` list with the value in `correct_show`).

In [16]:
# function for replacing implicit duplicates
wrong_shows_list = ['shows','SHOW','tv show','tv shows','tv series','tv']
correct_show = 'SHOW'
def replace_wrong_show(wrong_shows_list, correct_show):
    df.loc[:, ('type')] =  df.loc[:, ('type')].replace(wrong_shows_list, correct_show)
    return df

Call `replace_wrong_show()` and pass it arguments so that it clears implicit duplicates and replaces them with `SHOW`:

In [17]:
# removing implicit duplicates
df_dup_tbl = replace_wrong_show(wrong_shows_list, correct_show)
df_dup_tbl

,name,character,role,title,type,release_year,genres,imdb_score,imdb_votes
0,Robert De Niro,Travis Bickle,ACTOR,Taxi Driver,MOVIE,1976,"['drama', 'crime']",8.2,808582.0
1,Jodie Foster,Iris Steensma,ACTOR,Taxi Driver,MOVIE,1976,"['drama', 'crime']",8.2,808582.0
2,Albert Brooks,Tom,ACTOR,Taxi Driver,MOVIE,1976,"['drama', 'crime']",8.2,808582.0
3,Harvey Keitel,Matthew 'Sport' Higgins,ACTOR,Taxi Driver,MOVIE,1976,"['drama', 'crime']",8.2,808582.0
4,Cybill Shepherd,Betsy,ACTOR,Taxi Driver,MOVIE,1976,"['drama', 'crime']",8.2,808582.0
...,...,...,...,...,...,...,...,...,...
85574,Adelaida Buscato,Mar??a Paz,ACTOR,Lokillo,the movie,2021,['comedy'],3.8,68.0
85575,Luz Stella Luengas,Karen Bayona,ACTOR,Lokillo,the movie,2021,['comedy'],3.8,68.0
85576,In??s Prieto,Fanny,ACTOR,Lokillo,the movie,2021,['comedy'],3.8,68.0
85577,Isabel Gaona,Cacica,ACTOR,Lokillo,MOVIE,2021,['comedy'],3.8,68.0
85578,Julian Gaviria,unknown,DIRECTOR,Lokillo,the movie,2021,['comedy'],3.8,68.0

Make sure the duplicate names are removed. Print the list of unique values from the `'type'` column:

In [18]:
# viewing unique genre names
df_dup_tbl['type'].unique()

array(['MOVIE', 'the movie', 'SHOW', 'movies'], dtype=object)

<div class="alert alert-success">
<b>Reviewer's comment v2</b>
    
Your function works perfectly fine.
    
Btw you can also just pass values in your function:
    
`replace_wrong_genres(['tv show','shows','movies','tv shows','tv series'], 'SHOW')`

### Conclusions <a id='data_preprocessing_conclusions'></a>
We detected three issues with the data:

- Incorrect header styles
- Missing values
- Duplicate rows and implicit duplicates

The headers have been cleaned up to make processing the table simpler.

All rows with missing values have been removed. 

The absence of duplicates will make the results more precise and easier to understand.

Now we can move on to our analysis of the prepared data.

<div class="alert alert-danger">
<b>Reviewer's comment v1</b>
    
In this step, you need to use the latest DataFrame, `df_dup_tbl`, where missing values and duplicates have been removed.
  
I tried using the "df_dup_tbl" dataframe within the function and received some type of error along with this link when I run the next kernel the calls the function:https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy.
I read through the documentation and it seems that I have to use the original dataframe and using/referencing a copy of it isn't allowed. I may have misread it. I appreciate your feedback and guidance.

## Stage 3. Data analysis <a id='hypotheses'></a>

Based on the previous project stages, you can now define how the assumption will be checked. Calculate the average amount of votes for each score (this data is available in the `imdb_score` and `imdb_votes` columns), and then check how these averages relate to each other. If the averages for shows with the highest scores are bigger than those for shows with lower scores, the assumption appears to be true.

Based on this, complete the following steps:

- Filter the dataframe to only include shows released in 1999 or later.
- Group scores into buckets by rounding the values of the appropriate column (a set of 1-10 integers will help us make the outcome of our calculations more evident without damaging the quality of our research).
- Identify outliers among scores based on their number of votes, and exclude scores with few votes.
- Calculate the average votes for each score and check whether the assumption matches the results.

To filter the dataframe and only include shows released in 1999 or later, you will take two steps. First, keep only titles published in 1999 or later in our dataframe. Then, filter the table to only contain shows (movies will be removed).

In [19]:
# using conditional indexing modify df so it has only titles released after 1999 (with 1999 included)
# give the slice of dataframe new name
after_1999_titles = df_dup_tbl[df_dup_tbl['release_year'] >= 1999]

In [20]:
# repeat conditional indexing so df has only shows (movies are removed as result)
after_1999_titles = after_1999_titles[after_1999_titles['type'] == 'SHOW']

<div class="alert alert-success">
<b>Reviewer's comment v2</b>

You've filterd the data required data correctly. 


Additionally there are other methods that could be helpful to filter your data, for example:`query()`.

    
`df = df.query('type == "SHOW"')`
    
You can read about them additionally here: 
https://towardsdatascience.com/10-examples-that-will-make-you-use-pandas-query-function-more-often-a8fb3e9361cb
https://towardsdatascience.com/how-to-use-loc-and-iloc-for-selecting-data-in-pandas-bd09cb4c3d79

<div class="alert alert-info"> 
<b>Student comments:</b>    
I was wondering once my project has been successfully submitted, will I still have access to your comments?

<div class="alert alert-success">
<b>Reviewer's comment v3</b>

Yes, it will have all comments from previous iterations.

<div class="alert alert-danger">
<b>Reviewer's comment v1</b>
    
The same comment here. Also in the second filtering the result of the first step should be used instead of the originial dataframe `df`

The scores that are to be grouped should be rounded. For instance, titles with scores like 7.8, 8.1, and 8.3 will all be placed in the same bucket with a score of 8.

In [21]:
# rounding column with scores
after_1999_titles.loc[:, ('imdb_score')] = after_1999_titles.loc[:, ('imdb_score')].round()
#checking the outcome with tail()
after_1999_titles.tail()

,name,character,role,title,type,release_year,genres,imdb_score,imdb_votes
85433,Maneerat Kam-Uan,Ae,ACTOR,Let's Eat,SHOW,2021,"['drama', 'comedy']",8.0,5.0
85434,Rudklao Amratisha,unknown,ACTOR,Let's Eat,SHOW,2021,"['drama', 'comedy']",8.0,5.0
85435,Jaturong Mokjok,unknown,ACTOR,Let's Eat,SHOW,2021,"['drama', 'comedy']",8.0,5.0
85436,Pisamai Wilaisak,unknown,ACTOR,Let's Eat,SHOW,2021,"['drama', 'comedy']",8.0,5.0
85437,Sarawut Wichiensarn,unknown,DIRECTOR,Let's Eat,SHOW,2021,"['drama', 'comedy']",8.0,5.0

It is now time to identify outliers based on the number of votes.

In [22]:
# Use groupby() for scores and count all unique values in each group, print the result
after_1999_titles.groupby('imdb_score')['name'].nunique()

imdb_score
2.0       24
3.0       27
4.0      174
5.0      581
6.0     2365
7.0     4342
8.0     4194
9.0      542
10.0       8
Name: name, dtype: int64

<div class="alert alert-danger">
<b>Reviewer's comment v1</b>

You are grouping by the `imdb_score` column and counting all other columns (such as name, character, role, etc.). Since each row corresponds to a unique show and there are no missing values in those columns, the result shows identical counts across all columns. This redundancy makes the output appear cluttered.

To reduce this redundancy and make the output cleaner, you could modify the code to count only one relevant column, such as `name` (which typically represents the unique shows).
    
    
```
df_grouped = period_df.groupby('imdb_score')['name'].count()
df_grouped
```

Based on the aggregation performed, it is evident that scores 2 (24 voted shows), 3 (27 voted shows), and 10 (only 8 voted shows) are outliers. There isn't enough data for these scores for the average number of votes to be meaningful.

To obtain the mean numbers of votes for the selected scores (we identified a range of 4-9 as acceptable), use conditional filtering and grouping.

<div class="alert alert-danger">
<b>Reviewer's comment v2</b>

At this step you need to use `after_1999_titles` dataframe instead of the original one `df`. 
    
Could you please update last two steps in this section?

<div class="alert alert-info"> 
<b>Student comments:</b>
I'm curious as to why I'm getting the following errors, do you think I need to use the .loc indexing method?

In [23]:
# filter dataframe using two conditions (scores to be in the range 4-9)
after_1999_titles = after_1999_titles[after_1999_titles['imdb_score'] >= 4.0]
after_1999_titles = after_1999_titles[after_1999_titles['imdb_score'] <= 9.0]
# group scores and corresponding average number of votes, reset index and print the result

after_1999_titles = after_1999_titles.groupby('imdb_score').mean('imdb_votes').reset_index()

<div class="alert alert-danger">
<b>Reviewer's comment v3</b>

The error occurs because the data in `after_1999_titles` is currently a Series.

In the step above, we need to retain the original DataFrame so that `after_1999_titles` can be used for additional filtering and aggregations.

```
# Use groupby() for scores and count all unique values in each group, print the result
groupped_df = after_1999_titles.groupby('imdb_score')['name'].nunique()
groupped_df
    
after_1999_titles = after_1999_titles[after_1999_titles['imdb_score'] >= 4.0]
after_1999_titles = after_1999_titles[after_1999_titles.loc['imdb_score'] <= 9.0]
...
                                                                                
```

Alternatively, you can convert it into a DataFrame to facilitate grouping and aggregation:
    
```
df = after_1999_titles.reset_index()
df.columns = ['imdb_score', 'imdb_votes']
```

Now for the final step! Round the column with the averages, rename both columns, and print the dataframe in descending order.

In [24]:
# round column with averages
after_1999_titles.loc[:, 'imdb_votes'] = after_1999_titles.loc[:,'imdb_votes'].round()
# rename columns
after_1999_titles = after_1999_titles.rename(columns={'imdb_score': 'rd_imdb_score','imdb_votes': 'avg_imdb_votes'})
# print dataframe in descending order
after_1999_titles.sort_values(by='avg_imdb_votes',ascending=False)

   rd_imdb_score  release_year  avg_imdb_votes
5            9.0   2015.542024        121401.0
4            8.0   2017.396154         28362.0
3            7.0   2018.431605          8012.0
0            4.0   2018.742222          6544.0
2            6.0   2019.075687          3169.0
1            5.0   2019.228654          2846.0

The assumption macthes the analysis: the shows with the top 3 scores have the most amounts of votes.

<div class="alert alert-success">
<b>Reviewer's comment v4</b>

Everything is correct here.

## Conclusion <a id='hypotheses'></a>

The research done confirms that highly-rated shows released during the "Golden Age" of television also have the most votes. While shows with score 4 have more votes than ones with scores 5 and 6, the top three (scores 7-9) have the largest number. The data studied represents around 94% of the original set, so we can be confident in our findings.

<div class="alert alert-success">
<b>Reviewer's comment v2:</b>
 
Overall you did a great research.
    
A small tip regarding overall conclusion in the project: 
    It represents the overall work progress that you achieved. On a real project, this is probably the only thing the business will read. Therefore, it is crucial to indicate in a structured way all conclusions that you made on each step in the project.

For example:

- Replaced missing values in the following data with the following method.
- Replaced data types in the following columns.
- etc.
- We observe that ... factors impact ... 
- My analysis show ...
- I can recommend the following next steps / activities ...

It is also important to provide explanations and interpretations that will be interesting for business based on your analysis.